<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%-include('nav') %>
    
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6  mt-5">
              <% if(users.length == 0){%>

                <h2 class="fw-bold fs-3">Start managing your users, <%= req.session.user.name%></h2>
                <p class="mt-1 mb-3 text-muted">You can see a list of all the users on this place once you add your first user!</p>
                <a href="/add" class="add-btn rounded-pill">Add First User</a>
                  
                <%}else{%>
                <h2 class="fw-bold fs-3">All registered Users</h2>
                <p class="mt-1 mb-3 text-muted">Add the first name & email of the user to store it in the database!</p>
                  
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Email</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <%}%>
                    <tbody>
                        <%for(let i=0; i<users.length; i++){%>
                      <tr>
                        <td scope="row"><%=i+1 %></td>
                        <td><%=users[i].name %></td>
                        <td><%=users[i].email %></td>
                        <td>
                          <div class="d-flex">
                            <form action="/edit" method="post" class="m-0 p-0">
                              <input type="hidden" name="email" value="<%=users[i].email %>">
                              <button class="btn  m-0 px-2 py-0 text-primary">Edit</button>
                            </form>
                            <form action="/delete" method="post">
                              <input type="hidden" name="email" value="<%=users[i].email %>">
                              <button class="btn m-0 px-2 py-0 text-danger">Delete</button>
                            </form>
                          </div>
                        </td>
                      </tr>
                      <%}%>
                    </tbody>
                  </table>
               
            </div>
        </div>
    </div>
</body>
</html>